body {
    background-color: honeydew;
    font-size: 25px;
    margin-left: 50px;
}
.recipe {
    text-align: middle;
    color: black(255, 47, 210, 0.808);
text-align: center;
 

}
#prepare-phase{
    font-display: auto;
    color: blue;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
.ingri {color: blue;

}
.image {
    border: 25px double blueviolet;
    width: 500px;
    height: 300px;
}

.list {
    font-style: oblique;
}
.paragraph {padding: 0px;
    margin: 0;
}